<div class="search-header">
    <div class="search-items">
        <select name="search-category" class="btn btn-default search-category" id="search-category">
            <option value="1">Agenda Date</option>
            <option value="2">Proposal #</option>
            <option value="3">Ordinance #</option>
            <option value="4">Resolution #</option>
        </select>
        <label for="traffic-search">
            <input type="text" class="form-control" id="traffic-search" placeholder="Search..">
        </label>
        <a href="/agenda"><button class="search btn btn-default">Search</button></a>
        <button class="create-agenda btn btn-default">Create Agenda</button>
        <a href="/agendaitem"><button class="create-agenda-item btn btn-default">Create Agenda Item</button></a>
    </div>
</div>
<div class="container-fluid">
    <div class="agenda-header">
        <p class="agenda-month">Agenda: 11/16</p>
    </div>
    <div class="agenda-information">
        <div class="agenda-nav">
            <div class="agenda-nav-item">
                <a href="/agenda/resolution"></a>
            </div>
            <div class="agenda-nav-item">
                <a href="/agenda/proposal"></a>
            </div>
            <div class="agenda-nav-item">
                <a href="/agenda/ordinance"></a>
            </div>
        </div>
    </div>
</div>