<div class="search-header">
    <div class="search-items">
        <select name="search-category" class="btn btn-default" id="search-category">
            <option value="1">Agenda Date</option>
            <option value="2">Proposal #</option>
            <option value="3">Ordinance #</option>
            <option value="4">Resolution #</option>
        </select>
        <label for="traffic-search">
            <input type="text" class="form-control" id="traffic-search" placeholder="Search..">
        </label>
        <a href="/agenda"><button class="search btn btn-default">Search</button></a>
        <button class="create-agenda btn btn-default">Create Agenda</button>
        <a href="/agendaitem"><button class="create-agenda-item btn btn-default">Create Agenda Item</button></a>
    </div>
</div>